
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Sacramento&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #fbfbfb;
    color: #0f0f0f;
    font-size: 18px;
    line-height: 1.2;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 28px;
    text-align: center;
}
p {
    margin: 20px 20px;    
}
img {
    max-width: 100%;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 16px;
    box-shadow: 0 3px 10px -5px #5f5f5f;

    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    width: 200px;
}

.menu {
    display: flex;
    font-size: 20px;
    margin-right: 20px;
}

.menu li a {
    padding: 25px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    padding-top: 120px;
}

#inicio {
    justify-content: space-around;
}

.presentacion-img {
    margin-bottom: 20px;    
}

.presentacion-img img {
    width: 400px;
    border-radius: 50%;
}

.presentacion {
    width: 100%;
    text-align: center;
}

.btn-cv {
    background-color:  #af599e;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 20px;
    color: #fbfbfb;
    display: inline-block;
}

#contacto {
    justify-content: space-around;
}

.hablemos {
   background-color: rgba(175, 89, 158, 0.3); 
   border-radius: 10px;
   width: 100%;
   text-align: center;
   padding: 20px 20px;
}

.iconos {
    width: 80px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer {
    background-color: #af599e;
    height: 90px;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #fbfbfb;
}

.btn-cv:hover, .active {
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    color: #0f0f0f;
    background-color: rgba(175, 89, 158, 0.3);
    transition: 0,10s;
}

.active {
    background-color: rgba(175, 89, 158, 0.3);
}

.menu li a:hover {
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    color: fuchsia;
    transition: 0,15s;
}

.iconos:hover {
    background-color: #af599e;
    width: 90px;
    transition: 0,15s;
} 

@media (min-width: 768px) {
    p{
       font-size: 18px;  
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 48px;
        text-align: left;
    }
    #inicio {
        flex-direction: row;
    }
    .presentacion {
        text-align: left;
        width: 50%;
    }
    .presentacion p {
        text-align: left;
    }
}